@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --primary-color: #4a6f3b;
  --secondary-color: #708d46;
  --background-color: #f4f9f4;
  --input-background-color: #ffffff;
  --input-border-color: #d1e7d0;
  --input-focus-color: #a1c4a1;
  --button-background-color: #6ab47d;
  --button-hover-background-color: #5a9b69;
  --text-color: #333;
  --placeholder-color: #aaa;
  --border-radius: 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}
